#
/[ Ll ] библиотека /
/[ Тт ] эмп /
/[ Оо ] Ъ /
/[ Bb ] уилд /
/[ Bb ] уилды /
/[ Ll ] огс /
/[ Uu ] ser [ Ss ] настройки /

# MemoryCapture может стать чрезмерным по размеру.
# Они также могут содержать чрезвычайно конфиденциальные данные
/[ мм ] emoryCaptures /

# Записи могут стать чрезмерными по размеру
/[ Рр ] записи /

# Раскомментируйте эту строку, если вы хотите игнорировать плагин инструментов хранилища активов
# /[Aa]ssets/AssetStoreTools*

# Автоматически сгенерированный плагин Jetbrains Rider
/[ Aa ] наборы / Плагины / Редактор / JetBrains *

# Каталог кеша Visual Studio
.vs /

# Каталог кеша Gradle
.градле /

# Автоматически созданные файлы решений и проектов VS/MD/Consulo
ЭкспортированныйОбъект /
.консуло /
* .csproj
* .unityproj
* .sln
* .суо
* .tmp
* .пользователь
* .userprefs
* .pidb
* .бупродж
* .свд
* .pdb
* .mdb
* .opendb
* .VC.db

# Сгенерированные Unity3D метафайлы
* .pidb.meta
* .pdb.meta
* .mdb.meta

# Сгенерированный Unity3D файл в отчетах о сбоях
sysinfo.txt

# Сборки
* .апк
* .ааб
* .unitypackage
* .приложение

# Сгенерированный файл Crashlytics
Crashlytics-build.properties

# Упакованные адреса
/[ Aa ] наборы /[ Aa ] адресуемые [ Aa ] наборы [ Dd ] ata / * / * .bin *

# Временные автоматически созданные активы Android
/[ Aa ] ssets /[ Ss ] treamingAssets / aa.meta
/[ Aa ] ssets /[ Ss ] treamingAssets / aa / *

# Exceptions
!*.dll
!*.obj